
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Books</h3>
<div class="">
    <table class="table display" id="BooksList">
        <thead>
            <tr>
                <th>Author</th>
                <th>Type</th>
                <th>Title</th>
                <th>Price</th>
                <th>Publish Date</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

    <div align="right" class="dataTables_paginate">
    </div>
</div>

<script>
    $(document).ready(function () {
        var url = base_url;
        var table = $("#BooksList").DataTable({
            "pagingType": "full_numbers",
            ajax: {
                url: url + "/Books/BookList",
                type: "GET"
            },
            columns: [
                { data: "Author" },
                { data: "BookType" },
                { data: "Title" },
                { data: "Price" },
                { data: "PublishDate" }
            ]
        });

        console.log(table);
    });
</script>

